::-webkit-scrollbar {
    display: block;
    width: 20px;
}

::-webkit-scrollbar-track {
    background: lightgray;
}

::-webkit-scrollbar-thumb {
    background: teal;
    border-right: none;
    border-left: none;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 50px;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#root {
    --bgr-gray: #C4C4C4;
    --nav-size: 50px;
    --border: 1px solid #474a4d;
}

.App {
    width: 100%;
    /* background-color: #E5E5E5; */
    display: flex;
    /* align-content:center; */
    flex-direction: column;
    align-items: center; 
}

.input_container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.new_user_container {
    display: flex;
    flex-direction: column;
    width: auto;
}

.login_input_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

.row {
    display: flex;
    flex-direction: row;
    height: 94.8vh;
    /* height:inherit; */
    width: 100%;
}
.col {
    height: 100%;
    width: 100%;
}
.leftside, .rightside {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightside.cam_nav {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.leftside {
    background: #3D5664;
}
.rightside {
    background: #C4C4C4;
}

/* .camera {
    background-color: #E5E5E5;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    width: 50%;
    flex-wrap: wrap;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content:space-between;
    align-items: center;
} */

.camera {
    background-color: #E5E5E5;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    width: 50%;
    /* flex-wrap: wrap; */
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 30px;
    box-shadow: 1px 2px 3px;
    margin-top: 15px;
    justify-content:space-between;
    align-items: center;
}

.camera:hover{
    filter: brightness(1.08);
}

.camera__content {
    display: absolute;
}

.cam_btns.all {
    border: 2px solid transparent;
    border-radius: 30px;
    box-shadow: 1px 1px 30px;
    background-color: darkgray;
    padding: 15px;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 55px 55px 55px 55px;
    grid-template-columns: 55px 55px 55px;
    align-items: stretch;
}

.cam_btns.opn{
    margin-left: 1%;
}

.cam_btns.prst {
    display: contents;
    position:fixed;
    align-items: center;  
}

.cam_info {
    box-shadow: 1px 2px 30px;
    padding: 5px 10px;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    align-content: space-around;
    background-color: #3D5664;
    border: 2px solid transparent;
    border-radius: 30px;
    place-items: center;
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: bradley hand, cursive;
}

