.WindowName {
    justify-items: space-around;
    margin-left: 15px;
}

.StreamWindow {
    /* size-adjust: auto; */
    display:flex;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px solid var(--bgr-gray);
}